@model IEnumerable<City>

<!Doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8"/>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="page-content">
    <h1>Weather</h1>
    
    

    @foreach (City city in Model)
    {
        <div class="box" style="background-color: @city.Color">
            <div class="left-side">
                <h3 class="city">@city.Name</h3>
                <p class="time">@city.DateAndTime.ToString("hh:mm tt")</p>
                <a class="details" href="/weather/@city.CityUniqueCode">Details</a>
            </div>
            <div class="center-side">&nbsp;</div>

            <div class="right-side">
                <p class="temp">@city.Temperature°C</p>
            </div>
            </div>
    }
</div>

</body>
</html>